{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>News ({{ news|length }})</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата</td>
                <td>Описание</td>
            </tr>

            {% for post in news %}
            <tr>
                <td>{{ post.post_title|censor }}</td>
                <td>{{ post.post_date|date:'d.M.Y' }}</td>
                <td>{{ post.post_text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>"Ничего нового :)"</h2>
    {% endif %}
{% endblock content %}
